<nav class="mobile-nav">
   <%= link_to root_path, class:"bloc-icon" do %>
    <i class="fa-solid fa-house"></i>
   <% end %>
   <%= link_to books_path, class:"bloc-icon" do %>
    <i class="fa-solid fa-book"></i>
   <% end %>
   <%= link_to root_path, class:"bloc-icon" do %>
    <i class="fa-solid fa-user"></i>
   <% end %>
</nav>
