<div class="home-page-container text-center">
  <%= image_tag('home-page.jpg', class:'home-page-image') %>
  <h4>Welcome to</h4>
  <h1>Read<span class = "orange">bnb</span></h1>
  <p>How many books have you read?</p>

  <%= link_to "Log in" %>
  <%= link_to "Sign up" %>
</div>
